@media (max-width: 1300px) {
  .main {
    font-family: Arial, sans-serif;
    background-image: url(int.css);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  header {
    background-color: #333;
    color: rgb(200, 200, 200);
    padding: 15px;
    text-align: center;
    display: flex;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(200, 200, 200);
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  body {
    background-image: linear-gradient(rgb(129, 129, 129), rgb(71, 71, 71));
    height: 150vh;
  }

  .main {
    width: 650px;
    height: 120vh;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
  }

  .block {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 0px 4px rgb(28, 28, 28);

    border-radius: 10px;
    background-color: #333;
  }
  .glav {
    display: flex;
    justify-content: center;
    height: 130vh;
    align-items: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    background-image: linear-gradient(190deg, rgb(56, 56, 56), rgb(37, 37, 37));
    color: aliceblue;
    border-radius: 5px;
  }
  footer {
    display: flex;
    padding-left: 15px;

    height: 150px;
    background-color: #1f1f1f;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
  }

  .log {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .log1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
@media (max-width: 750px) {
  .main {
    font-family: Arial, sans-serif;
    background-image: url(int.css);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  header {
    background-color: #333;
    color: rgb(200, 200, 200);
    padding: 15px;
    text-align: center;
    display: flex;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(200, 200, 200);
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  body {
    background-image: linear-gradient(rgb(129, 129, 129), rgb(71, 71, 71));
    height: 260vh;
  }

  .main {
    width: 650px;
    height: 120vh;
    display: flex;
    row-gap: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 50px;
  }

  .block {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 0px 4px rgb(28, 28, 28);

    border-radius: 10px;
    background-color: #333;
  }
  .glav {
    display: flex;
    justify-content: center;
    height: 130vh;
    align-items: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    background-image: linear-gradient(190deg, rgb(56, 56, 56), rgb(37, 37, 37));
    color: aliceblue;
    border-radius: 5px;
  }
  footer {
    display: flex;
    padding-left: 15px;
    margin-top: 930px;
    height: 150px;
    background-color: #1f1f1f;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
  }

  .log {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .log1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
  }
  img {
    height: 100px;
    width: 100px;
  }
}

@media (min-width: 1300px) {
  .main {
    font-family: Arial, sans-serif;
    background-image: url(int.css);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  header {
    background-color: #333;
    color: rgb(200, 200, 200);
    padding: 15px;
    text-align: center;
    display: flex;
  }
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: rgb(200, 200, 200);
  }
  nav li {
    display: inline-block;
    margin-right: 10px;
  }
  a {
    color: white;
    text-decoration: none;
  }
  body {
    background-image: linear-gradient(rgb(129, 129, 129), rgb(71, 71, 71));
    height: 150vh;
  }

  .main {
    width: 650px;
    height: 120vh;
    display: flex;

    flex-wrap: wrap;
    justify-content: space-around;
  }

  .block {
    width: 300px;
    height: 300px;
    box-shadow: 4px 4px 0px 4px rgb(28, 28, 28);

    border-radius: 10px;
    background-color: #333;
  }
  .glav {
    display: flex;
    justify-content: center;
    height: 130vh;
    align-items: center;
  }
  header {
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    height: 100px;
    background-image: linear-gradient(190deg, rgb(56, 56, 56), rgb(37, 37, 37));
    color: aliceblue;
    border-radius: 5px;
  }
  footer {
    display: flex;
    padding-left: 15px;

    height: 150px;
    background-color: #1f1f1f;
    color: aliceblue;
    border-radius: 5px;
    font-size: 20px;
  }

  .log {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }
  .log1 {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
  }
  img {
    height: 100px;
    width: 100px;
  }
}
